<a href="https://colab.research.google.com/github/KhaliidHelalii/ML-Model-using-GradientBoostingClassifier/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


train_data = pd.read_csv('Dataset.csv')

train_data.drop('Unnamed: 0', axis=1, inplace=True)

test_data = pd.read_csv('x_test.csv')

test_data.drop('Unnamed: 0', axis=1, inplace=True)

test_data.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric,Accident_ID
0,80.593607,8,11,62.534184,0.409514,82.45,2,29304.824298,2,0.395623,960
1,41.917808,12,1,56.198724,0.413481,79.64,7,42176.922286,2,0.003973,9315
2,43.333333,15,4,49.817685,0.408432,82.66,2,36091.552772,3,0.490557,7411
3,26.073059,21,0,65.496809,0.363354,82.92,4,26977.613452,1,0.049470,12309
4,32.876712,11,9,62.670921,0.443773,85.40,3,46847.458386,0,0.231088,7969

In [ ]:
x=train_data.drop(columns='Severity')
y=train_data['Severity']
y

0       Significant_Damage_And_Serious_Injuries
1                     Minor_Damage_And_Injuries
2             Significant_Damage_And_Fatalities
3       Significant_Damage_And_Serious_Injuries
4                     Highly_Fatal_And_Damaging
                         ...
8495                  Minor_Damage_And_Injuries
8496                  Highly_Fatal_And_Damaging
8497    Significant_Damage_And_Serious_Injuries
8498                  Highly_Fatal_And_Damaging
8499                  Highly_Fatal_And_Damaging
Name: Severity, Length: 8500, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()
train_data['Severity']= en.fit_transform(train_data['Severity'])

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 0)

# print(x_train.shape)
# print(x_test.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
# GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix

classifier = GradientBoostingClassifier(n_estimators=500,max_depth=9,learning_rate=0.1,random_state=101
)


classifier.fit(x_train, y_train)

y_pred = classifier.predict(x_test)

print(classification_report(y_test, y_pred))

                                         precision    recall  f1-score   support

              Highly_Fatal_And_Damaging       0.98      0.97      0.97       651
              Minor_Damage_And_Injuries       0.97      0.97      0.97       519
      Significant_Damage_And_Fatalities       0.95      0.96      0.95       344
Significant_Damage_And_Serious_Injuries       0.98      0.98      0.98       611

                               accuracy                           0.97      2125
                              macro avg       0.97      0.97      0.97      2125
                           weighted avg       0.97      0.97      0.97      2125

In [ ]:
test_data=sc.transform(test_data)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


y_pred=classifier.predict(test_data) 


df = pd.DataFrame({'Severity':y_pred})
df.to_csv('GradientBoostingClassifier.csv')
df.value_counts()

Severity
Highly_Fatal_And_Damaging                  469
Significant_Damage_And_Serious_Injuries    389
Minor_Damage_And_Injuries                  386
Significant_Damage_And_Fatalities          256
dtype: int64